html {
  overflow-y: scroll;
}

.block {
  width: 100%;
  height: 100%;
  /* dashed border */
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='15' ry='15' stroke='%23AEAEAEFF' stroke-width='3' stroke-dasharray='2%25%2c4%25' stroke-dashoffset='14' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.027);
}

body {
  background-color: var(--cui-tertiary-bg);
}

.wrapper {
  width: 100%;
  @include ltr-rtl("padding-left", var(--cui-sidebar-occupy-start, 0));
  @include ltr-rtl("padding-right", var(--cui-sidebar-occupy-end, 0));
  will-change: auto;
  @include transition(padding .15s);
}

.header > .container-fluid,
.sidebar-header {
  min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
}

.sidebar-brand-full {
  margin-left: 0px;
  --cui-sidebar-header-padding-y: 100px;
}

.sidebar-header {
  .nav-underline-border {
    --cui-nav-underline-border-link-padding-x: 1rem;
    --cui-nav-underline-border-gap: 0;
  }

  .nav-link {
    display: flex;
    align-items: center;
    min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
  }
}

.sidebar-toggler {
  @include ltr-rtl("margin-left", auto);
}

.sidebar-narrow,
.sidebar-narrow-unfoldable:not(:hover) {
  .sidebar-toggler {
    @include ltr-rtl("margin-right", auto);
  }
}

.header > .container-fluid + .container-fluid {
  min-height: 3rem; 
}

.footer {
  min-height: calc(3rem + 1px); // stylelint-disable-line function-disallowed-list
}

.search {
  background-color: $input-bg-search;
}

.form-control:focus {
  background-color: $input-bg-search;
  //box-shadow:     0 0 3px 0px #000000,  /* inner white */
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.text-highlight {
  border: solid;
  border-color: $fresh-red;
  transition: 0.3s;
  border-width: 2px;
  opacity: 1;
}

.text {
  border: solid;
  border-color: $fresh-red;
  transition: 0.3s;
  border-width: 2px;
  opacity: 0;
}

.visible {
  transition: max-height 0s linear;
  max-height: 500px;
  overflow: hidden;
}

.hidden {
  transition: max-height 0s linear;
  max-height: 0;
  overflow: hidden;
}

.triangle-showing {
  rotate: 180deg;
  transition: rotate 0.1s;
}

.triangle-hiding {
  rotate: 90deg;
  transition: rotate 0.1s;
}

.text:hover {
  opacity: 1;
  //background-color: firebrick;
  transition: 0.1s;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.calendar-button {
  background-color: #373A3D;
}

.calendar-button:hover {
  background-color: mix( #373A3D, #888);
}

.calendar-button:disabled {
  background-color: #373A3D;
}


@if $enable-dark-mode {
  @include color-mode(dark) {
    body {
      background-color: var(--cui-dark-bg-subtle);
    }

    .header {
      background-color: $header-bg-dark;
    }

    .footer {
      --cui-footer-bg: var(--cui-body-bg);
    }
  }
}
